.navigation__contancts {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 50px;
}

@media (min-width: 426px) and (max-width: 900px) {
    .navigation__contancts {
        padding: 0 30px;
    }
}

@media (max-width: 425px) {
    .navigation__contancts {
        padding: 0 1px;
    }
}