.header__background {
    display: block;
    background-image: url('../../../images/rabbit_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
}

.header__background::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(242, 233, 228, 0.3);
}