.header {
    display: grid;
    grid-area: header;
    height: 650px;
    float: right;
    position: relative;
}

/* @media (min-width: 769px) and (max-width: 900px) {
    .header {
        margin-left: 260px;
        height: 500px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .header {
        margin-left: 28%;
        height: 300px;
    }
}

@media (max-width: 425px) {
    .header {
        height: 200px;
        margin-left: 20%;
    }
} */